
.list-group{
  margin-top: 20px;
}

.list-group-item{
  background-color: #E0FFFF	;

}
.list-group-item:hover{
  cursor: pointer;
}

.list-group-item.active{
  color: red;
}


.remove{
  margin-left: 3px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}
