/* You can add global styles to this file, and also import other style files */
/* .back{
  background-color:  #E0FFFF	;
} */

/* .back{
  background-image: url('background1.jpg');
  background-repeat: no-repeat;
} */
.back{
  background-color: #66CDAA;
}
